@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'HovesPro';
  src: url('../resources/fonts/tt_hoves_pro/TT Hoves Pro Trial Condensed Regular.ttf') format('truetype');
}

::-webkit-scrollbar {
  display: none;
}

