@import "tailwindcss";

html,
body,
#root {
  height: 100%;
}

body {
  font-family: "Arial", system-ui, -apple-system, Segoe UI, Roboto, Arial,
    sans-serif;
  margin: 0;
}

/* Hide scrollbars (you already had this) */
::-webkit-scrollbar {
  display: none;
}
